**/node_modules/
**/.env
**/.env.local
**/.env.*local

# Virtual Environments
**/venv/
**/.venv/

# Python cache & compiled files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Testing & logs
**/.pytest_cache/
**/.coverage
**/htmlcov/

# Local Scratch directory
**/scratch/

